<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                <h2 class='bold'>SQUARE</h2>
                <h4>Square Soluções LTDA</h4>
                <p>CNPJ: 48.344.046/0001-54</p>
            </div>
            <div class="col-md-4 text-left">
              <div class='row'>
                <div class='col-md-12'>
                  <h4 class='bold uppercase'>Headquarters</h4>
                  <br />
                </div>

                <div class='col-md-12'>
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot ico"></i>
                    1201, J Street<br />
                    Sacramento,California<br />
                    United States, 95814
                  </p>
                  <br />
                </div>

                <div class="col-md-12">
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot ico"></i>
                    R. Cândido Falcão, 1155<br>
                    São Borja, Rio Grande do Sul<br/>
                    Brazil, 976700
                  </p>
                  <br />
                </div>

                <div class='col-md-12'>
                  <p>
                    <i class="fa-sharp fa-solid fa-location-dot ico"></i>
                    Prosta 18, Mennica Legacy<br>
                    Warszawa, Poland<br/>
                    Poland, 00-850
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4 text-left">
                <h4 class='bold uppercase'>Contact Us</h4>
                <br />

                <address>
                  <span class='bold'>🇺🇸 UNITED STATES</span> <br /> 
                  <i class="fa-regular fa-envelope"></i> E-mail: <%= link_to 'hello@square.com.br', '' %> <br>
                  <i class="fa-solid fa-phone"></i> Phone: <%= link_to '+1 (985) 412-7371', '' %>
                </address>
                <address>
                  <span class='bold'>🇧🇷 BRAZIL</span> <br />
                  <i class="fa-regular fa-envelope"></i> E-mail: <%= link_to 'hey@square.com.br', '' %><br />
                  <i class="fa-solid fa-phone"></i> Phone: <%= link_to '+55 (55) 99627-6161', '' %>
                </address>
                <address>
                  <span class='bold uppercase'>🇵🇱 POLAND</span> <br /> 
                  <i class="fa-regular fa-envelope"></i> E-mail: <%= link_to 'hej@square.pl', '' %><br> 
                  <i class="fa-solid fa-phone"></i> Phone: <%= link_to '+48 (456) 484-4564', '' %>
                </address>
                <br>

                <ul class="social-icons">
                  <li>
                    <%= link_to 'https://github.com/square', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-github" alt='Square | Github'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://github.com/square', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-behance" alt='Square | Behance'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://facebook.com/square', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-facebook" alt='Square | Facebook'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://twitter.com/square', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-twitter" alt='Square | Twitter'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://youtube.com/square', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-youtube" alt='Square | Youtube'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://instagram.com/square', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-instagram" alt='Square | Instagram'></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://linkedin.com/', 
                      target: :_blank, class: 'social-icon' do %>
                      <i class="fa-brands fa-linkedin" alt='Square | Linkedin'></i>
                    <% end %>
                  </li>
                </ul>
                <div class="badge-links">
                    <!-- Add badge images here -->
                </div>
            </div>
        </div>
    </div>
</footer>